
.small {
	font-size: 14px;
}
.medium {
	font-size: 18px;
}
.large {
	font-size: 22px;
}

.full-width {
	width: 100%;
	margin-right: 0;
}

.eui-button, .eui-input, .eui-picture-placeholder, .eui-select {
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: var(--field);
	color: var(--text);
	box-sizing: border-box;
	position: relative;
	margin-bottom: 0.5em;
}

.eui-field > .eui-button:last-child,
.eui-field > .eui-input:last-child,
.eui-field > .eui-picture-placeholder:last-child,
.eui-field > .eui-select:last-child {
	margin-bottom: 0;
}

.eui-field {
	width: 100%;
	height: fit-content;
	position: relative;
	margin-bottom: 0.5em;
}

.eui-button {
	padding: 0em 0.5em;
	background-color: var(--field);
	border: none;
	height: 2em;
	cursor: pointer;
}
.eui-button:hover {
	background-color: var(--field-light);
	color: var(--text-light);
}
.eui-button:active {
	background-color: var(--field-dark);
	color: var(--text-dark);
	outline: 1px solid var(--positive);
}

.eui-button:disabled {
	background-color: var(--field-dark);
	color: var(--text-dark);
}

.eui-button.positive {
	background-color: var(--positive);
}
.eui-button:hover.positive {
	background-color: var(--positive-light);
}

.eui-label {
	color: var(--text);
	margin-bottom: 0.25em;
	margin-top: 0;
}

.eui-input, .eui-select {
	padding: 0em 0.5em;
	height: 40px;
}

.eui-input:focus, .eui-select:focus {
	outline: 1px solid var(--positive);
	color: var(--text-light);
}

.eui-input:disabled, .eui-select:disabled {
	background-color: var(--field-dark);
	color: var(--text-dark);
}

.eui-input.error, .eui-select.error {
	background-color: rgb(216, 84, 84);
}

.eui-picture-container {
	position: relative;
}

.eui-picture-placeholder {
	padding-top: calc(9 / 16 * 100%);
}

.eui-picture-placeholder > span {
	color: var(--text-dark);
	text-align: center;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.eui-picture-container > input {
	z-index: 50;

	position: absolute;
	left: 0;
	top: 0;
  
	color: rgba(0, 0, 0, 0);
	user-select: none;
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	display: block;
  
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

.eui-picture-container > input:focus {
	outline: 5px solid var(--positive);
}