.idol-name {
  font-weight: bold;
}

.나연 {
  color: #5bc2e7;
}
.정연 {
  color: #c5d97a;
}ㅅ
.모모 {
  color: #ff8da1;
}
.사나 {
  color: #987dd4;
}
.지효 {
  color: #ffc56e;
}
.미나 {
  color: #6dcdb8;
}
.다현 {
  color: #fff;
}
.채영 {
  color: #ee2737;
}
.쯔위 {
  color: #005eb8;
}

.혜빈 {
	color: #a1258e;
}
.제인 {
	color: #e67a9f;
}
.연우 {
	color: #404040;
}
.태하 {
	color: #047501;
}
.주이 {
	color: #f2e694;
}
.데이지 {
	color: #e87110;
}
.아인 {
	color: #89f5f3;
}
.나윤 {
	color: #eb0c0c;
}
.낸시 {
	color: #590816;
}

.닝닝 {
	color: #c22506;
}
.카리나 {
	color: #6b0ecf;
}
.지젤 {
	color: #0da305;
}
.윈터 {
	color: #1c3c6b;
}

.류진 {
	color: #f2d046;
}
.예지 {
	color: #a40fb8;
}
.리아 {
	color: #45c9f5;
}
.유나 {
	color: #55ed5a;
}
.채령 {
	color: #9c2a35;
}
